:root {
  --height: 100px;
  --width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #4facfe 100%, #00f2fe 100%);
  justify-content:center;
  font-family: sans-serif;
}
/* 创建三个相等的列 */

 
/* 列后清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 
/* 响应式布局 - 小于 600 px 时改为上下布局 */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.input_all {
  width: calc(4 * var(--width));
  height: calc(1.4 * var(--height));
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 0 auto
}

.input {
  position: relative;
  width: calc(1 * var(--width));
  height: calc(0.7 * var(--height));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
}
.input span {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.input._1 {
  background: #2980b9;
}

.input._4 {
  background: #7bcc1f;
}
.input._5 {
  background: #e05735;
}
.input._6 {
  background: #8219d8;
}
.input._7 {
  background: #e63414;
  display: flex;
  padding: 20px;
  text-align: center;
  margin: 0 auto
}
.input._8 {
  background: #16a085;
}
.input._9 {
  background: #0b8ab1;
}
.input select{
  text-align:left;
  width:100%;
}

@media only screen and (max-width: 750px) {
  .wrapper {
    flex-direction: column;
  }

  .button {
    margin: 0.8rem 0;
  }
}
.run_button{
  height: 30px;
  width: 50px;
  -webkit-transition-duration: 0.4s;
  text-align: center;
  border-radius: 10px;
  border:3px #e74c3c;
  background-color: #fff;
  color: #222;
  transition-duration: 0.4s;
}
.run_button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

a {
  margin: 0 20px;
  color: #fff;
  font-size: 2rem;
  transition: all 400ms ease;
}

a:hover {
  color: #222;
}
.json_show{
  text-align: center;
}
.bar_chart{
  background-color: #fff;
  position: relative;
  width: 80%;
  height: 80%;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 0 auto
}

.table_show{
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}
.table_view{
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 10px 5px;
}